.button {
  padding-block: 8px;
  background-color: #1677ff;
  color: #ffffff;
  font-size: 16px;
  border-radius: 8px;
  border: 0px;
  line-height: 24px;
  cursor: pointer;
}

.button:disabled {
  background-color: rgba(0, 0, 0, 0.04);
  border: 1px solid #d9d9d9;
  color: rgba(0, 0, 0, 0.25);
  cursor: default;
}
