.input_box {
  width: 100%;
  position: relative;
}

.input {
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 8px 11px 8px 31px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  margin-right: 0px;
}

.input_icon {
  position: absolute;
  left: 12px;
  top: 12px;
  bottom: 12px;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.input:focus {
  outline: 2px solid rgba(5, 145, 255, 0.1);
  border-color: #1677ff;
}

.input[type="password"] {
  font-family: "Fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  font-variant: normal;
  text-transform: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.input[type="password"]::placeholder {
  font-family: "SFProText-Regular";
}

.first_input {
  margin-top: 24px;
}

.password_input {
  padding-left: 38px; /* В дизайне именно такой отступ для поля Password */
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px #ffffff inset !important;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.88) !important;
}
